.services {
    padding-top: 50px;
    padding-bottom: 50px;
    .service__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        .img__holder {
            .icon {
                transition: $standart-transition;
                margin: 0 auto;
                display: block;
            }
            &:hover {
                .icon {
                    transform: rotate(45deg);
                }
            }
        }
        .content {
            padding-top: 15px;
            text-align: center;
            p {
                font-family: $sec-font;
                color: $black;
                font-size: 24px;
                margin-bottom: 0;
            }
            span {
                font-family: $main-font;
                color: $main-dark-color;
                font-size: 13px;
            }
        }
    }
}