//-----------------------------------------------//
//================FONT-FAMILY====================//
//-----------------------------------------------//
$main-font:'Poppins',
sans-serif;
$sec-font:'Frank Ruhl Libre',
serif;
$alternative-font: 'Noto Sans JP',
sans-serif;
//-----------------------------------------------//
//================FONT-WEIGHT====================//
//-----------------------------------------------//
$bold-weight:600;
$middle-weight:500;
$thin-weight:400;
$super-light-weight:300;
//-----------------------------------------------//
//================FONT-SIZING====================//
//-----------------------------------------------//
$fsize-xs:10px;
$fsize-main:14px;
$fsize-stand:18px;
$fsize-md:30px;
$fsize-lg:50px;
$fsize-xl:70px;